<!DOCTYPE html>
<html>
<head>
<title>Oh My Gilatte - Home</title>
</head>
<body>

  <carousel ng-controller='CarouselCtrl'>
  </carousel>

  <div class='container'>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <hr>
        <div id="strapline-two">
          <h2>Pimped up crepes with no nasties</h2>
          <p>More copy about the business in more detail Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation</p>
          <p>More copy about the business in more detailLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation</p>
          <p>More copy about the business in more detail Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation</p>
        </div>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div id="about-food">
          <h3>About the food</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="image">
          <img src='app/assets/test-image.jpg' alt='Galette'>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="interactive-image">
          <div class="row">
            <div class="col-sm-6">
              <img src="app/assets/test-image.jpg" alt='Galette'>
            </div>
            <div class="col-sm-6">
              <img src="app/assets/test-image.jpg" alt='Galette'>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <img src="app/assets/test-image.jpg" alt='Galette'>
            </div>
            <div class="col-sm-6">
              <img src="app/assets/test-image.jpg" alt='Galette'>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div>
          <h3>Menu</h3>
          <p>Copy for menu Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <h3>Menu</h3>
        <p>Copy for menu Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>
    </div>
    <div class="col-sm-6">
        <div class="image">
          <img src="app/assets/test-image.jpg" alt='Galette'>
        </div>
      </div>
    </div>

    <!--Embedded google calendar-->
    <div class="row">
      <div class="col-sm-12">
        <h2>Upcoming Events</h2>
          <iframe src="https://calendar.google.com/calendar/embed?showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=christoal86%40gmail.com&amp;color=%231B887A&amp;ctz=Europe%2FLondon" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
      </div>
    </div>
  </div>
    
</body>
</html>